body {

	@mixin activeNav($activeClass) {
		&.#{$activeClass} {
			nav {
				& .#{$activeClass} {
					>a {
						&:before {
							content: '[';
						}
						&:after {
							content: ']';
						}
					}
				}	
			}
		}
	}

	@include activeNav('archives');
	@include activeNav('photography');
	@include activeNav('projects');
	@include activeNav('about');

	nav {
		position: absolute;

		ul {
			display: flex;
			flex-direction: row;
			height: 43px;
		
			li {
				&.hamburger {
					display: none;

					svg {
						fill: white;
					}
				}

				&.homeboy {
					display: none;
				}

				position: relative;
				text-align: center;

				>a {
					color: white !important;
					font-family: Georgia, "Times New Roman", serif;
					font-size: 0.95em;
					font-weight: bold;
					padding: 5px 8px;
					text-decoration: none;
					z-index: 10;
					position: relative;
					cursor: pointer !important;

					&:before, &:after {
						content: ' ';
						color: rgba(255, 255, 255, 0.5);
						display: inline-block;
						text-shadow: none;
						width: 7px;
					}

					&:hover {
						color: white;
						text-decoration: underline;
					}
				}

				.subnav {
					position: absolute;
					display: none;
					flex-direction: column;
					background-color: #d36d2d;
					height: auto;
					min-width: 100%;
					top: -5px;
					left: 50%;
					transform: translateX(-50%);
					font-size: 0.95em;
					border-radius: 5px;
					padding-top: 35px;
					z-index: 2;
					box-shadow: 1px 1px 3px rgba(143, 69, 13, 0.8);

					li {
						line-height: 1.5em;

						a {
							display: block;
							white-space: nowrap;
							padding: 5px;

							&:before {
								content: '\02937';
								display: inline-block;
								margin-right: 13px;
								text-shadow: none;
							}
						
							&:last-child {
								padding-bottom: 8px;
							}
						}
					}
				}

				&:hover, &:focus-within {
					a {
						z-index: 15;
					}
					.subnav {
						display: flex;
						z-index: 14;
					}
				}
			}
		}

		@media screen and (min-width: $menuReflowWidth) {
			bottom: 0;
			right: 5px;
		}

		// gentle reflow
		@media screen and (max-width: $menuReflowWidth) {
			position: relative;
			margin-top: 70px;

			ul {
				height: 35px;
				justify-content: center;
				
				li {
					flex-grow: 1;

					a {
						padding: 0;
					}
				}
			}
		}

		// smallest state, hamburger it!
		@media screen and (max-width: $menuCollapseWidth) {
			position: relative;
			top: 10px;
			margin: 0;

			ul {
				flex-direction: column;
				width: 100%;
				height: auto;
				margin-bottom: 10px;

				li {
					text-align: center;
					width: 100%;
				}

				li.hamburger {
					display: block;
					text-align: right;

					a {
						text-decoration: none;

						svg {
							transition: all linear .5s;
							transition-property: transform;
						}
					}
				}

				li:not(:first-child) {
					// display: flex;
					opacity: 0;
					height: 0;
					transition: none;
					text-align: center;

					a {
						height: 30px;
						min-width: 100%;
					}

					.subnav {
						background: transparent;
						box-shadow: none;
						border: none;
						border-radius: initial;
						position: initial;
						top: initial;
						left: initial;
						transform: none;
						padding: 0;
						margin-bottom: 0;

						li {
							a {
								height: auto;
								padding: 0;
							}
						}
					}
				}
			}

			&.hamburgled {
				ul {
					li:first-child {
						a {
							svg {
								transform: rotate(-90deg);
							}
						}
					}
					li:not(:first-child) {
						height: auto;
						opacity: 1;
						transition: opacity linear .5s;

						.subnav {
							display: block;
						}
					}
				}
			}
		}
	}
}