<div>
  <section>
    <div class="colophon">
      <div>
        <h2>OK, WTF is this?</h2>
        <p>This site is the brain dump of Shawn Parker on the internet. Covering topics ranging from how my butt itches to software development. Your mileage may vary. Not suitable for all ages.</p>
        <p>This site contains content known by the State of California to cause cancer.</p>
      </div>
      <div class="wheres-wookiee">
        <h2>Where to Find Me</h2>
        <ul>
          <li>
            <a target="_blank" href="https://www.quizstreak.com">
              QuizStreak
              <svg viewBox="0 0 16 16" class="icon" aria-hidden="true" width="16" height="16">
                <use xlink:href="#icon-quizstreak"></use>
              </svg>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://github.com/Gipetto">
              GitHub
              <svg viewBox="0 0 16 16" class="icon" aria-hidden="true" width="16" height="16">
                <use xlink:href="#icon-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.flickr.com/photos/tehgipster/">
              Flickr
              <svg viewBox="0 0 16 16" class="icon" aria-hidden="true" width="16" height="16">
                <use xlink:href="#icon-flickr"></use>
              </svg>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://hachyderm.io/@wookieeboy">
              Mastodon
              <svg viewBox="0 0 16 16" class="icon" aria-hidden="true" width="16" height="16">
                <use xlink:href="#icon-mastodon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.linkedin.com/in/shawnparker/">
              LinkedIn
              <svg viewBox="0 0 16 16" class="icon" aria-hidden="true" width="16" height="16">
                <use xlink:href="#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://poocherino.com/">
              Poocherino
              <svg viewBox="0 0 24 24" class="icon" aria-hidden="true" width="16" height="16">
                <use xlink:href="#icon-poocherino"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="minutia full">
    <div>
      <p>This site, its design, and its content is copyright Shawn Parker unless otherwise noted.</p>
      <p><a href="/privacy-and-legal">Privacy & Legal Statement</a></p>
    </div>
  </section>
</div>
<dialog class="lightbox">
  <form method="dialog">
    <button class="sr-only" autofocus formmethod="dialog">
      <span>Close Dialog</span>
    </button>
    <img eleventy:ignore class="" src="">
  </form>
</dialog>
