<div>
  <div>
    <h1><a href="/">Shawn Parker</a></h1>
    <nav>
      <ul>
        <li class="{% if section == "projects" %}active{% endif %}">
          <a href="/projects">Projects</a>
        </li>
        <li class="{% if section == "photography" %}active{% endif %}">
          <a href="/photography">Photography</a>
        </li>
        <li class="{% if section == "blog" %}active{% endif %}">
          <a href="/blog">Blog</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
