<nav>
  <ul class="tabs">
    <li>Galleries:</li>
    <li class="tab {% if current == "photography" %}current{% endif %}"><a href="/photography">Some Good Stuff</a></li>
    <li class="tab {% if current == "concerts" %}current{% endif %}"><a href="/photography/concerts">Concerts</a></li>
    <li class="tab {% if current == "dogs" %}current{% endif %}"><a href="/photography/dogs">Dogs</a></li>
  </ul>
</nav>
