---
title: "Photography: Concerts"
gallery: concerts
---

<p>I had the pleasure for a short time of shooting concerts for the Denver Post’s Reverb Music Blog. It was, well, lets call it a labor of love project.</p>

{% render "flickr-album" with flickr.albums["72157625196454707"] as album %}
