---
title: "Photography: Dogs"
gallery: dogs
---

<p>Who doesn't like dogs? Our two-legged knuckleheads are the most accessible subjects for a bored photographer.</p>

<p>Dogs are life.</p>

{% render "flickr-album" with flickr.albums["72157603367803058"] as album %}
