---
title: Photography
gallery: photography
---

<p>Below is a small sampling of my photography that I’ve posted to <a target="_blank" href="http://www.flickr.com/photos/tehgipster/" rel="external">my Flickr account</a>.</p>

<p>My photography was once my career, but now it keeps me out of trouble in the off hours. But don’t make any mistake, just because something isn’t a career doesn’t mean that it can’t be an obsession nor bankrupt you... prime lenses don’t grow on trees, you know 😉</p>

{% render "flickr-album" with flickr.albums["72157607000335316"] as album %}
