_site
_bin
_flickr_auth/auth.json
_flickr_auth/oauth_token.txt
vendor
js/*.min.*
.tweet-cache
.sass-cache
.jekyll-metadata
.vscode
.DS_Store
.flickr-cache.json
.ruby-version
.jekyll-cache
.tool-versions
