---
---

@import 'variables';
@import 'lightbox';
@import 'gallery';

*, 
html > body, 
html > body > .gallery,
html > body > .gallery > .frame {
    margin: 0;
    padding: 0;
}

#poocherino .gallery .frame {
    margin-bottom: 0;
}

#poocherino .gallery .frame > img {
    width: 100%;
}

#poocherino .gallery .frame > img:before {
    display: none;
}

#poocherino .gallery .stamp {
    width: 33%;
}

#poocherino .gallery .stamp h1 {
    padding: 1em;
    text-align: center;
    color: #333;
}

#poocherino footer {
    padding: 10px;
    text-align: center;
}