<header class="grid-cell">
    <h1>The Gippy Pages</h1>
    <a href="/"><img class="frog" src="{{ site.url }}/assets/big-frog.svg" rel="home index" alt="Top Frog Logo" /></a>
    <a href="/"><img class="what-it-called" src="{{ site.url }}/assets/name.svg" rel="home index" alt="The Gippy Pages" /></a>
    <nav>
        <ul>
            <li class="this-un"><a href="{{ site.url }}/archives">archives</a></li>
            <li><a href="{{ site.url }}/photography">photography</a></li>
            <li><a href="{{ site.url }}/projects">projects</a></li>
            <li><a href="{{ site.url }}/about">about</a></li>
        </ul>
    </nav>
</header>