<header class="grid-cell">
    <div role="banner">
        <h1 role="presentation">The Gippy Pages</h1>
        <a href="/" rel="home index" aria-label="The Gippy Pages">
            <img class="frog" src="/assets/big-frog.optimized.svg" height="165" role="presentation" />
            <img class="what-it-called" src="/assets/name.optimized.svg" height="65" role="presentation" />
        </a>    
    </div>
    <nav id="ada">
        <ul>
            <li class="hamburger">
                <a href="#" aria-expanded="false">
                    {% include svg/hamburger-menu.svg %}
                </a>
            </li>
            <li class="homeboy hidden">
                <a href="/" rel="home index">Home</a>
            </li>
            <li class="archives">
                <a href="/archives" rel="archives">archives</a>
            </li>
            <li class="photography">
                <a href="/photography">photography</a>
                <ul class="subnav">
                    <li>
                        <a href="/photography/concerts">concerts</a>
                    </li>
                    <li>
                        <a href="/photography/dogs">dogs</a>
                    </li>
                </ul>
            </li>
            <li class="projects">
                <a href="/projects">projects</a>
            </li>
            <li class="about">
                <a href="/about" rel="author">about</a>
            </li>
        </ul>
    </nav>
</header>