<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" type="image/svg+xml" href="/assets/big-frog.optimized.svg">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/icon-72x72.png">
	<link rel="apple-touch-icon" sizes="96x96" href="/assets/icons/icon-96x96.png">
	<link rel="apple-touch-icon" sizes="128x128" href="/assets/icons/icon-128x128.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/icon-152x152.png">
	<link rel="apple-touch-icon" sizes="192x192" href="/assets/icons/icon-192x192.png">
	<link rel="apple-touch-icon" sizes="384x384" href="/assets/icons/icon-384x384.png">
	<link rel="apple-touch-icon" sizes="512x512" href="/assets/icons/icon-512x512.png">
	<link rel="manifest" href="/manifest.webmanifest">
	<link rel="alternate" type="application/rss+xml" title="Subscribe to the Gippy Pages via RSS" 
		href="{{ site.url }}/feed" />
	<link rel="preload" href="/css/main.css?v={{ cachebuster }}" as="style">
	<link rel="stylesheet" href="/css/main.css?v={{ cachebuster }}">
{% capture include_to_scssify -%}
{%- include style/_layout.scss -%}
{%- include style/_nav.scss -%}
{%- endcapture %}
	<style type="text/css">{{- include_to_scssify | scssify | strip -}}</style>
	<link type="text/plain" rel="author" href="{{ site.url }}/humans.txt" />
	{% seo %}
</head>