<div>
    {% if include.center %}<center>{% endif %}
    <a href="#i{{ include.id }}" class="thickbox frame {{ include.additional_classes | default: '' }}">
        <img src="{{ include.img_sm | default: '' }}" alt="{{ include.title }}"
            {% if include.data_src_tiny %}data-src-tiny="{{ include.data_src_tiny }}"{% endif %}
            {% if include.data_src %}data-src="{{ include.data_src }}"{% endif %}
            {% if include.srcset %}srcset="{{ include.srcset }}"{% endif %}
            {% if include.sizesSmall %}sizes="{{ include.sizesSmall }}"{% endif %}
            {% if include.img_sm_width %}width="{{ include.img_sm_width }}"{% endif %}
            {% if include.img_sm_height %}height="{{ include.img_sm_height }}"{% endif %}
            {% if include.img_lg %}data-lg-img="{{ include.img_lg }}"{% endif %}
        />
    </a>
    {% if include.center %}</center>{% endif %}
</div>