
<aside class="widget">
        <div class="recent-crap">
            <h2 class="widget-title">Recently:</h2>
            <ul>
                {% for recent_post in site.posts limit:5 %}
                    <li>
                        <a class="chevron" href="{{ recent_post.url }}">{{ recent_post.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </aside>
<aside class="widget">
    <h2 class="widget-title">What is this?</h2>
    <div class="textwidget">
        <p>{{ site.description }}</p>
    </div>
</aside>
<aside class="widget">
    <div class="socialwidget">
        <h2 class="widget-title">Find me at:</h2>
        <ul>
            <li>
                <a href="https://twitter.com/wookieeboy" rel="noopener" target="_blank" 
                    title="WookieeBoy on Twitter">
                    <svg viewBox="0 0 16 16" class="icon">
                        <use xlink:href="#icon-twitter"></use>
                    </svg>
                    <span>Twitter: WookieeBoy</span>
                </a>
            </li>
            <li>
                <a href="https://github.com/Gipetto" rel="noopener" target="_blank"
                    title="Gipetto on GitHub">
                    <svg viewBox="0 0 16 16" class="icon">
                        <use xlink:href="#icon-github"></use>
                    </svg>
                    <span>GitHub: Gipetto</span>
                </a>
            </li>
            <li>
                <a href="https://www.flickr.com/photos/tehgipster/" rel="noopener" target="_blank"
                    title="tehgipster on Flickr">
                    <svg viewBox="0 0 16 16" class="icon">
                        <use xlink:href="#icon-flickr"></use>
                    </svg>
                    <span>Flickr: tehgipster</span>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/shawnparker/" rel="noopener" target="_blank"
                    title="shawnparker on LinkedIn">
                    <svg viewBox="0 0 16 16" class="icon">
                        <use xlink:href="#icon-linkedin"></use>
                    </svg>
                    <span>LinkedIn: shawnparker</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
<aside class="widget">
    <h2 class="widget-title">Subscribe:</h2>
    <div class="textwidget">
        <p>If you're the self-loathing type, you can <a href="/feed">get updates to this site via RSS.</a></p>
        <p><a class="chevron" href="/what-is-rss">What is RSS?</a></p>
    </div>
</aside>