<aside class="widget">
    <div class="socialwidget">
        <h2 class="widget-title">Find me at:</h2>
        <ul>
            <li>
                <a href="https://github.com/Gipetto" rel="noopener" target="_blank" aria-labelledby="desc-github">
                    <svg viewBox="0 0 16 16" class="icon" aria-hidden="true" width="16" height="16">
                        <use xlink:href="#icon-github"></use>
                    </svg>
                    <span id="desc-github">GitHub: Gipetto</span>
                </a>
            </li>
            <li>
                <a href="https://www.flickr.com/photos/tehgipster/" rel="noopener" target="_blank" aria-labelledby="desc-flickr">
                    <svg viewBox="0 0 16 16" class="icon" aria-hidden="true" width="16" height="16">
                        <use xlink:href="#icon-flickr"></use>
                    </svg>
                    <span id="desc-flickr">Flickr: tehgipster</span>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/wookieeboy" rel="noopener" target="_blank" aria-labelledby="desc-twitter">
                    <svg viewBox="0 0 16 16" class="icon" aria-hidden="true" width="16" height="16">
                        <use xlink:href="#icon-twitter"></use>
                    </svg>
                    <span id="desc-twitter">Twitter: WookieeBoy</span>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/shawnparker/" rel="noopener" target="_blank" aria-labelledby="desc-linkedin">
                    <svg viewBox="0 0 16 16" class="icon" aria-hidden="true" width="16" height="16">
                        <use xlink:href="#icon-linkedin"></use>
                    </svg>
                    <span id="desc-linkedin">LinkedIn: shawnparker</span>
                </a>
            </li>
            <li>
                <a href="https://about.me/shawnparker" rel="noopener" target="_blank" aria-labelledby="desc-aboutme">
                    <svg viewBox="0 0 16 16" class="icon" aria-hidden="true" width="16" height="16">
                        <use xlink:href="#icon-about-me"></use>
                    </svg>
                    <span id="desc-aboutme">About.me: shawnparker</span>
                </a>
            </li>
        </ul>
    </div>
</aside>