
<aside class="widget">
    <h2 class="widget-title">What is this?</h2>
    <div class="textwidget">
        <p>{{ site.description }}</p>
    </div>
</aside>
<!-- <aside class="widget">
    <div class="wookieewidget">
        <img src="{{ site.url }}/assets/chicken.jpg" alt="Wookiee with Chicken Hat" />
    </div>
</aside> -->
<aside class="widget">
    <div class="socialwidget">
        <h2 class="widget-title">Find me at:</h2>
        <ul>
            <li>
                <a href="https://twitter.com/wookieeboy" rel="noopener" target="_blank">
                    <img height="14" width="14" alt="Twitter"
                        src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/twitter.svg" />
                    WookieeBoy
                </a>
            </li>
            <li>
                <a href="https://github.com/Gipetto" rel="noopener" target="_blank">
                    <img height="14" width="14" alt="GitHub"
                        src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg" />
                    Gipetto
                </a>
            </li>
            <li>
                <a href="https://www.flickr.com/photos/tehgipster/" rel="noopener" target="_blank">
                    <img height="14" width="14" alt="Flickr"
                        src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/flickr.svg" />
                    tehgipster
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/shawnparker/" rel="noopener" target="_blank">
                    <img height="14" width="14" alt="LinkedIn"
                        src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/linkedin.svg" />
                    shawnparker
                </a>
            </li>
        </ul>
    </div>
</aside>
<aside class="widget">
    <h2 class="widget-title">Subscribe</h2>
    <div class="textwidget">
        <p>If you're the self-loathing type, you can <a href="{{ site.url }}/feed">get updates to this site via RSS.</a></p>
        <p><a href="{{ site.url }}/what-is-rss/">What is RSS?</a></p>
    </div>
</aside>