<aside class="widget find-it">
    <div class="find-it-input">
        <h2 class="widget-title">Looking for something?</h2>
        <form action="/search" role="search" class="grid grid-row">
            <div class="grid-cell">
                <label for="search-input">Search Query:</label>
                <input type="text" id="search-input" name="q" value="" placeholder="search" />
            </div>
            <div class="grid-cell">
                <button type="submit" aria-label="Search">
                    <span>Search</span>
                    <svg viewBox="0 0 25 25" class="icon" aria-hidden="true">
                        <use xlink:href="#icon-magnifier"></use>
                    </svg>
                </button>
            </div>
        </form>
    </div>
</aside>