#stuff {
	$header-font-family: Georgia, 'Times New Roman', Times, serif;

	box-shadow: inset -1px 0 10px 0 rgb(216, 216, 216);

	.tome {
		background: linear-gradient(to bottom, #303030, #454545);
		border-bottom: 1px solid #7F8A76;
		color: #797A78;
		height: 28px;
		font-size: 1.7em;
		font-style: bold;
		font-family: $header-font-family;
		line-height: 37px;
		margin: 0;
		overflow: hidden;
		padding: 0;
	}

	h3, h4, h5 {
		font-weight: bold;
		font-family: $header-font-family;
		margin: 0;
		padding: 0;
	}

	@mixin linkHanger() {
		margin-right: 3px;
		display: inline-block;
		text-decoration: none !important;
	}

	.chevron {
		&:before {
			content: '\000BB';
			@include linkHanger();
		}
	}

	.hellip {
		&:after {
			content: '\02026';
		}
	}

	.darr {
		&:before {
			content: '\02193';
			@include linkHanger();
		}
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	p {
		line-height: 1.4;
		margin: 10px 0;
	}

	.alignright {
		float: right;
	}

	.muted-n-stuff {
		font-size: 0.9em;
		color: #888;
		margin-top: 3px;
	}

	.frame {
		position: relative;
		
		img {
			background: white;
			padding: 2px;
			border: 1px solid lightgray;	
		}
	}

	.stupid-wookiee {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		border: 1px solid #f4feee;
		float: right;
		margin: 0 10px 0 35px;
	}

	.drivel {
		font-size: 0.8em;
		line-height: 1.6;
		margin: 0 10px;
		padding: 20px 10px 10px 10px;

		h3 {
			font-size: 1.6em;
			line-height: 1.2;
			margin-top: 30px;

			&:first-child {
				margin-top: 5px;
			}

			&:first-child::before {
				content: "§";
				color: #ccc;
				float: left;
				margin-left: -15px;
			}
		}

		h4 {
			line-height: 1.2;
			margin-top: 20px;
			font-size: 1.3em;
		}

		a {
			text-decoration: underline;
		}

		ul, ol {
			padding-left: 1.5em;
		}

		&.archives {
			h3 {
				&:before {
					content: "§";
					color: #ccc;
					float: left;
					margin-left: -15px;
				}
			}

			ul {
				list-style: none outside;
				margin-left: 0;
				padding-left: 1em;

				li {
					display: flex;
					padding: 3px 0;
					font-size: 1em;
					
					div {
						padding: 0 2px;
						&:first-child {
							width: 50px;
							text-align: right;
						}
					}

					a {
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

		dl {
			dt {
				font-size: 1.2em;
				font-family: $header-font-family;
				font-weight: bold;
				line-height: 1.5em;
				margin-top: 15px;
			}
	
			dd {
				margin: 5px 0 5px 15px;
			}	
		}
	}

	.divider {
		margin: 10px 20px;
		height: 2px;
		padding: 0;
		border: none;
		background: repeating-linear-gradient(
			45deg, 
			transparent, 
			transparent 2px, 
			#fff 2px, 
			#fff 4px
		), linear-gradient(
			to right, 
			#fff, 
			#999, 
			#fff
		);
	}

	.alert {
		padding: 0.75em 1.25em;
		margin-bottom: 1.25em;
		margin-top: 1.25em;
		border: 1px solid transparent;
		border-radius: 0.25em;

		&.warning {
			background-color: #f2dede;
			border-color: #ebcccc;
			color: #a94442;
		}
	}

	.pagination {
		display: flex;
		justify-content: space-between;
		font-size: 0.8em;
		border: 1px solid #ccc;
		border-width: 1px 0;
		margin: 0 20px;
		padding: 5px 0;

		.older, .newer {
			flex: 1;
			display: flex;
			flex-direction: row;
			padding: 5px;

			&.older {
				text-align: right;
			}

			div {
				flex: 0;
				padding: 0 5px;
				justify-content: center;
			}

			a {
				flex: 1;
				display: flex;
				flex-direction: column;
				text-decoration: none;

				.muted-n-stuff {
					text-transform: uppercase;
				}
			}

			&:hover {
				text-decoration: none;
				border-radius: 3px;
				color: rgb(34, 34, 34);
				background-color: rgb(223, 223, 223);
			}
		}
	}

	.maybe-related {
		ul {
			list-style-type: none;

			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}

			.chevron:before {
				float: left;
				margin-left: -15px;
			}
		}
	}

	@import 'lightbox';

	.not-found {
		padding: 1em 3em;
		text-align: center;

		h2 {
			font-size: 8em;
			margin: 1rem 0 0 0;
			color: #dbdbdb;
			text-shadow: 
				1px 1px #f38e4f, 
				2px 2px #f38e4f, 
				3px 3px #f38e4f,
				4px 4px #f38e4f,
				5px 5px #f38e4f,
				6px 6px #f38e4f,
				7px 7px #f38e4f;
		}
	}
}