@import 'variables';
body {
	.grid {
		display: flex;

		&.grid-col {
			flex-direction: column;
			
			.grid-cell {
				flex: 1;
			}
		}

		&.grid-row {
			flex-direction: row;
			
			.grid-cell {
				flex: none !important;
			}

			@media screen and (max-width: $maxResponsiveWidth) {
				flex-direction: column;
			}
		}

		&.grid-box {
			flex-direction: row;
			flex-wrap: wrap;
			margin: 0 -20px 0 -20px;

			.grid-cell {
				width: 40%;
				margin: 0 20px;
				flex-shrink: 1;

				@media screen and (max-width: $menuCollapseWidth) {
					width: 90%;
					margin: 0 0 0 20px;
				}
			}
		}
	}

	#bag-o-holding {
		width: $staticWidth;

		@media screen and (max-width: $maxResponsiveWidth) {
			width: 100%;
		}
		
		#it {
			#stuff {
				width: 70%;
	
				@media screen and (max-width: $maxResponsiveWidth) {
					width: 100%;
				}
	
				&.photography {
					width: 100%;
				}
			}
			#less-important-stuff {
				width: 30%;
	
				@media screen and (max-width: $maxResponsiveWidth) {
					width: 100%;
				}
			}
		}
	}
}