@import 'boilerplate';
@import 'layout';

body {
	background-color: #ced6c9;
	font-family: "Lucida Grande",Arial,Helvetica,sans-serif;

	@mixin activeNav($activeClass) {
		&.#{$activeClass} {
			nav {
				& .#{$activeClass} {
					a {
						&:before, &:after {
							color: rgba(255, 255, 255, 0.5)
						}
						&:before {
							content: '[';
						}
						&:after {
							content: ']';
						}
					}
				}	
			}
		}
	}

	@include activeNav('archives');
	@include activeNav('photography');
	@include activeNav('projects');
	@include activeNav('about');

	#bag-o-holding {
		background-color: #f4feee;
		border: 1px solid #9ca397;
		border-radius: 5px;
		box-shadow: 0 0 5px 2px #b3b9ae;
		margin: 15px auto;
		position: relative;
		width: 842px;
		
		#inner-liner {
			background-color: white;
			border: 1px solid #7f8a76;
			margin: 10px;
			padding: 0;
			position: inherit;
			width: 820px;
		}
		
		#it {
			border: 1px solid #7f8a76;
			border-width: 1px 0;
			overflow: hidden;
		}
	
		header {		
			background: #f38e4f;
			background: linear-gradient(to bottom,  #f38e4f 0%,#d36d2d 55%,#b64000 100%);
			box-shadow: inset 0 0 15px #BA5D16;
			height: 120px;
			position: relative;
		
			h1 {
				display: none;
			}
		
			.frog {
				position: absolute;
				top: -12px;
				left: -24px;
				height: 151px;
				z-index: 99;
			}

			.what-it-called {
				position: relative;
				left: 46px;
				height: 65px;
				top: 54px;
				z-index: 1;
				filter: drop-shadow(2px 2px 3px rgb(143, 69, 13))
			}

			@import 'nav';
		}
	
		footer {
			background: #6b6d6a;
			overflow: hidden;
		
			p {
				color: white;
				font-size: 0.7em;
				margin: 5px 0 5px 0;
				padding: 0;
				text-align: center;
			}
		
			a {
				color: white;
			}
		}
		
		a {
			color: black;
			
			&:hover {
				color: #EC762C;
			}
			&:active {
				color: #EC762C;
			}
		}
	
		@import 'content';
		@import 'sidebars';

		@import 'syntax_highlighting';
		.highlight {
			& pre {
				background:#eee;
				border: 1px solid lightgray;
				border-radius: 3px;
				padding: 5px 10px;
				line-height: 1.5;
				white-space: pre;
				word-wrap: normal;
				overflow: scroll;

				&:hover {
					width: auto;
				}

				code {
					border: none;
					padding: 0;
					tab-size: 2;
				}
			}
		}

		@mixin linkHanger() {
			margin-right: 3px;
			display: inline-block;
			text-decoration: none !important;
		}
	
		.chevron {
			&:before {
				content: '\000BB';
				@include linkHanger();
			}
		}
	
		.hellip {
			&:after {
				content: '\02026';
			}
		}
	
		.darr {
			&:before {
				content: '\02193';
				@include linkHanger();
			}
		}

		code {
			background: #eee;
			border: 1px solid lightgray;
			border-radius: 3px;
			padding: 2px 4px;
		}
	}
}
