nav {
	position: absolute;
	bottom: 0;
	right: 5px;

	ul {
		display: flex;
		height: 43px;
	
		li {
			a {
				color: white;
				font-family: Georgia, "Times New Roman", serif;
				font-size: 0.9em;
				font-weight: bold;
				padding: 5px 10px;
				text-decoration: none;	
				&:hover {
					color: white;
					text-decoration: underline;
				}
			}
		}
	}
}