@mixin activeNav($activeClass) {
	&.#{$activeClass} {
		nav {
			& .#{$activeClass} {
				>a {
					&:before {
						content: '[';
					}
					&:after {
						content: ']';
					}
				}
			}	
		}
	}
}

@include activeNav('archives');
@include activeNav('photography');
@include activeNav('projects');
@include activeNav('about');

nav {
	position: absolute;

	&:not(&.hamburgled) {
		bottom: 0;
		right: 5px;	
	}

	#hamburger {
		fill: white;
	}

	ul {
		display: flex;
		flex-direction: row;
		height: 43px;
	
		li {
			&:first-child {
				display: none;
			}

			&.homeboy {
				display: none;
			}

			position: relative;
			text-align: center;

			>a {
				color: white !important;
				font-family: Georgia, "Times New Roman", serif;
				font-size: 0.9em;
				font-weight: bold;
				padding: 5px 8px;
				text-decoration: none;
				z-index: 10;
				cursor: pointer !important;

				&:before, &:after {
					content: ' ';
					color: rgba(255, 255, 255, 0.5);
					display: inline-block;
					width: 7px;
				}

				&:hover {
					color: white;
					text-decoration: underline;
				}
			}

			// .subnav {
			// 	display: none;
			// 	visibility: hidden;
			// 	opacity: 0;
			// 	position: absolute;
			// 	transition: all 0.5s ease;
			// 	top: 0;
			// 	left: 0;
			// 	z-index: 1;
			// 	background-color: #d36d2d;
			// 	border: 1px solid #9ca397;
			// 	border-radius: 5px;
			// }

			// &:hover {
			// 	.subnav {
			// 		display: block;
			// 		visibility: visible;
			// 		opacity: 1;
			// 	}
			// }
		}
	}

	@media screen and (max-width: $menuCollapseWidth) {
		position: relative;
		top: 5px;

		ul {
			flex-direction: column;
			width: 100%;
			height: auto;

			background: green;

			li {
				text-align: right;
				width: 100%;
			}

			li:first-child {
				display: block;
				a {
					text-decoration: none;
				}
			}

			li:not(:first-child) {
				display: flex;
				opacity: 0;
				height: 0;
				transition: all linear .5s;
			}
		}

		&.hamburgled {
			ul {
				li:not(:first-child) {
					display: block;
					height: 20px;
					opacity: 1;
				}
			}
		}
	}


}