$staticWidth: 842px;
$maxResponsiveWidth: 870px;
$menuReflowWidth: 700px;
$menuCollapseWidth: 500px;

$backgroundColor: #ced6c9;
$innerBackgroundColor: #f4feee;
$sidebarBackgroundColor: #c4c8c1;

$boxShadowColor: #b3b9ae;

$borderColor: #9ca397;
$innerBorderColor: #7f8a76;

$lightGrayBorderColor: lightgray;
$lightGrayBackgroundColor: #eee;

$selectionColor: #13bac0;

$orange: #d86b27;

$header-font-family: Georgia, 'Times New Roman', Times, serif;

@mixin searchBox {
    border: 1px solid $borderColor;
    border-radius: 3px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
}

@mixin selection {
    background: $selectionColor; 
    color: #fff; 
    text-shadow: none; 
}