$staticWidth: 842px;
$maxResponsiveWidth: 870px;
$menuReflowWidth: 700px;
$menuCollapseWidth: 500px;

$backgroundColor: #ced6c9;
$innerBackgroundColor: #f4feee;
$sidebarBackgroundColor: #c4c8c1;

$boxShadowColor: #b3b9ae;

$borderColor: #9ca397;
$innerBorderColor: #7f8a76;

$lightGrayBorderColor: lightgray;
$lightGrayBackgroundColor: #eee;

$orange: #ec762c;