---
sitemap: false
---
<html>
<head>
  <title>{% if title %}{{ title }} | {% endif %}{{site.title}}</title>
  <meta name="author" content="Shawn Parker">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
</head>
<body>
{{ content }}
</body>
</html>
