{% assign cachebuster = 'now' | date: '%s' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>WordPress Hooks: Filters & Actions</title>
    <meta name="description" content="The funniest looking WordPress Action & Filter list you've ever seen">
    <link rel="stylesheet" href="/htc/assets/style.css?v={{ cachebuster }}">
</head>
<body>
  {{ content }}
  <script src="https://unpkg.com/jquery@3.7.1/dist/jquery.js" 
    crossorigin="anonymous"></script>
  <script src="/htc/assets/main.js?v={{ cachebuster }}" type="text/javascript"></script>
</body>
</html>
