---
layout: compress
---
{%- assign cachebuster = site.time | date: '%s' -%}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ page.lang | default: site.lang | default: 'en' }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ page.lang | default: site.lang | default: 'en' }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ page.lang | default: site.lang | default: 'en' }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ page.lang | default: site.lang | default: 'en' }}"> <!--<![endif]-->
{%- include head.html -%}
<body id="top-frog-com" class="{{ page.section | default: layout.section }}">
    <a class="skip-link" href="#it">Skip to content</a>
    <div id="google-web-environment-integrity-warning" class="grid grid-col" style="display: none;">
        <h1>Your browser contains Google DRM!</h1>

        <p>Original site content appears below this warning.</p>

        <p><strong>Your browser supports Web Environment Integrity (WEI), which is harmful to the freedom and openness of the web.</strong></p>
        
        <p>WEI is Google's attempt to lock down the web. In short, a Google-owned server will be asked to confirm that the browser does not deviate in <em>any</em> way from Google's accepted browser configuration. This can used to prevent users from blocking ads, trackers and other harmful content. It allows website owners to lock out users of unapproved (non-Chrome) browsers, unapproved operating systems, and older hardware.</p>
        
        <p>Not only would this further cement the Chrome's monopoly, but if WEI is allowed to become widespread then Google could even consider making remote attestation mandatory for websites: non-participating websites will be downranked on Google Search and labeled with a "security" warning in Chrome. <a href="https://www.fsf.org/blogs/community/web-environment-integrity-is-an-all-out-attack-on-the-free-internet" target="_blank">Click here to read why we need to nip WEI in the bud.</a></p>

        <p><strong>Please use a WEI-free browser such as <a href="https://www.mozilla.org/en-US/firefox/" target="_blank" >Firefox</a> (recommended), <a href="https://www.apple.com/safari/" target="_blank">Safari</a>, <a href="https://www.palemoon.org/" target="_blank">Pale Moon</a>, <a href="https://brave.com/">Brave</a>, or <a href="https://apps.gnome.org/app/org.gnome.Epiphany/" target="_blank" >GNOME Web</a>.</strong></p>
            
    </div>
    <noscript aria-hidden="true">
		<blockquote>
			<p>How anxiously I yearned for the Javascript I had forsaken.</p>
			<footer>~ Almost Dostoyevsky</footer>
		</blockquote>
	</noscript>
    <span class="icons-sprite" aria-hidden="true">{% include svg/icons-sprite.optimized.svg %}</span>
    <div id="bag-o-holding" class="grid grid-col">
        <div class="grid-cell">
            <div id="inner-liner" class="grid grid-col">
                {%- include header.html -%}
                <hr />
                <div id="it" class="grid-cell" tabindex="-1">
                {{ content }}
                </div>
                {%- include footer.html -%}
            </div>
        </div>
    </div>
    {%- include scripts.html -%}
</body>
</html>