---
layout: compress
---
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ page.lang | default: site.lang | default: 'en' }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ page.lang | default: site.lang | default: 'en' }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ page.lang | default: site.lang | default: 'en' }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ page.lang | default: site.lang | default: 'en' }}"> <!--<![endif]-->
{%- include head.html -%}
<body id="top-frog-com" class="{{ page.section | default: layout.section }}">
    <p class="hidden"><a href="#it"><img src="/assets/spacer.gif" width="0" height="0" border="0" alt="skip to content" /></a></p>
    <noscript>
		<blockquote>
			<p>How anxiously I yearned for the Javascript I had forsaken.</p>
			<footer>~ Almost Dostoyevsky</footer>
		</blockquote>
	</noscript>
    <span class="icons-sprite" aria-hidden="true">{% include svg/icons-sprite.optimized.svg %}</span>
    <div id="bag-o-holding" class="grid grid-col">
        <div class="grid-cell">
            <div id="inner-liner" class="grid grid-col">
                {%- include header.html -%}
                <div id="it" class="grid-cell">
                {{ content }}
                </div>
                {%- include footer.html -%}
            </div>
        </div>
    </div>
    {%- include scripts.html -%}
</body>
</html>