---
layout: default
section: home
---

{% assign page = site.posts.first %}
<article class="drivel">
    <h3><a href="{{ page.url }}" rel="canonical">{{ page.title | escape }}</a></h3>
    <p class="muted-n-stuff">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
    </p>
    {{ page.excerpt }}

    <p class="muted-n-stuff">Tagged as: {{ page.tags | join: ', ' | downcase }}</p>
</article>

{% include pagination.html %}