---
sitemap: false
---
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ page.lang | default: site.lang | default: 'en' }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ page.lang | default: site.lang | default: 'en' }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ page.lang | default: site.lang | default: 'en' }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ page.lang | default: site.lang | default: 'en' }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Source: {{ page.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="Shawn Parker">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/source.css">
    <script src="/js/libs/modernizr-3.3.1.min.js"></script>
</head>
<body id="top-frog-com source">
    <h1>Source: {{ page.title }}</h1>
    {% if page.article %}
    <p><a href="{{ page.article }}">Return to post</a>.</p>
    {% endif %}

{{ content }}
</body>
</html>