---
layout: default
section: threads
sitemap: false
search: false
---

{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

<article class="drivel">
    <h3>{{ page.title | escape | pp }}</h3>
    <p></p>

    {{ content }}

    <ol class="thread">
    {% for item in site.data[page.thread_slug] %}
        <li class="diff-{{ item.diff_class }}" data-days-diff="{{ item.days_diff }}">
            <span class="span-time">
                <span>{{ item.days_diff }} days go by...</span>
            </span>
            <span>{{ item.date |  date: date_format }}</span>
            <span><a href="{{ item.url }}">{{ item.title }}</a></span>
        </li>
    {% endfor %}
    </ol>
</article>