---
title: Projects
---

<h2>Projects</h2>

<section class="active-projects">
  <p>From time to time something tickles my fancy enough to make it a personal project. When they turn out well enough I like to try and give a little back. Feel free to use anything you find here, just let me know if you end up using something as I like to know if what I’m doing is being found as useful or not.</p>
  
  <p>Thanks!</p>

  <ul class="projects-list">
    <li class="card quizstreak">
      <div>
        <a href="https://www.quizstreak.com" aria-hidden="true">
          {%- render "../assets/projects/qs-logo.optimized.svg" -%}
        </a>
      </div>
      <div>
        <h3><a href="https://www.quizstreak.com">QuizStreak Daily Trivia</a></h3>
        <p>A daily trivia game that is the brain child of my brother-in-law.</p>
        <p>Built using Sveltekit and Supabase using only the bare minimum of NPM libraries and with artisinally
          crafted CSS. It is fun to work on and the subject matter is interesting as well.</p>
        <p><a class="chevron" href="https://www.quizstreak.com/register">Sign up for QuizStreak today! 🚀</a></p>
      </div>
    </li>
    <li class="card cowsay">
      <div>
        {%- render "../assets/projects/cowsay.min.svg" -%}
      </div>
      <div>
        <h3><a href="https://gipetto.github.io/CowSay">PHP-Cowsay</a></h3>
        <p>Cowsay. For PHP.</p>
        <p>Yup. I blame this existence of this on my chemo treatments having fried my brain.</p>
        <p>This composer library allows you to bring the quirkiness of Cowsay to your PHP applications.</p>
        <p>The cows are fully configurable and there’s an easy to follow pattern for adding your own variations.</p>
        <p>You want a dragon? <a href="https://github.com/Gipetto/CowSay/blob/master/docs/Carcasses.md">You can build your own dragon</a>. You want your dragon to breathe fire? <a href="https://github.com/Gipetto/CowSay/blob/master/docs/CustomTraits.md">You can do that too with custom traits</a>.</p>
        <p>The world is your pasture.</p>
        <p><a class="chevron hellip" href="https://gipetto.github.io/CowSay">View on GitHub</a></p>
      </div>
    </li>
    <li class="card sp">
      <div>
        <a href="https://gipetto.github.io/resume/" aria-hidden="true">
          {%- render "../assets/projects/sp.svg" -%}
        </a>
      </div>
      <div>
        <h3><a href="https://gipetto.github.io/resume/">My Resume</a></h3>
        <p>I’ve always been drawn to the resume as an exercise in design and presentation. This is a
          (typically) up-to-date resume built on whatever shiny framework is en-vogue at the time
          that I decide to try something new.</p>
        <p><a class="chevron hellip" href="https://gipetto.github.io/resume/">View on Github</a></p>
      </div>
    </li>
    <li class="card ap">
      <div>
        <img src="/assets/projects/andy-square-250.webp" alt="A photo of Andy Lynn Parker">
      </div>
      <div>
        <h3><a href="https://andylynnparker.com/">Andy Lynn Parker’s Portfolio</a></h3>
        <p>When your wife asks you for a portfolio site, you don’t say no.</p>
        <p>This is a site built for speed, accessibility, and simplicity using the Eleventy static site generation
          framework.</p>
        <p><a class="chevron hellip" href="https://andylynnparker.com/">View Andy’s portfolio</a></p>
        <p>You can also <a href="https://github.com/Gipetto/andylynnparker.com">check out the source code on Github</a></p>
      </div>
    </li>
    <li class="card pe">
      <div>
        <img src="/assets/projects/colorado-cutout.webp" alt="A chenille patch of the colorado flag by Patches Etc.">
      </div>
      <div>
        <h3><a href="https://patches-etc.com">Patches Etc.</a></h3>
        <p>A site for my mother's business, Patches Etc., a chenille patch and embroidery business that focuses on the High
          School sports market. But she can make patches for anything you need. And she'll sew those patches on to your letter
          jacket in a way that will last for longer than your high-school sports career.</p>
        <p>Built on Eleventy js, with a sprinkling of Sass for styling, and just a little bit of Javascript.</p>
        <p><a class="chevron hellip" href="https://patches-etc.com">View Patches Etc's site</a></p>
      </div>
    </li>
    <li class="card">
      <h3><a href="https://github.com/Gipetto/sloganator">Sloganator 2.0</a></h3>
      <p>A bolt on forum slogan system built on PHP & SQLite. A good excuse to play with modern
        PHP. It started as something to build from scratch, to see how much could be done as
        simply as possible, but quickly ballooned once we started caring about quality and
        stability. Functional and performant, but still needs work.</p>
      <p><a class="chevron hellip" href="https://github.com/Gipetto/sloganator">View on Github</a></p>
    </li>
    <li class="card">
      <h3><a href="/projects/post-password-token">Post Password Token Plugin for WordPress</a></h3>
      <p>The Post Password Token plugin allows readers to access protected posts without having to enter a
        password by creating secret token urls for the post.</p>
      <p><a class="chevron hellip" href="/projects/post-password-token">View project page</a></p>
    </li>
    <li class="card tfg">
      <div>
        {%- render "../assets/projects/big-frog.redux.optimized.svg" -%}
      </div>
      <div>
        <h3><a href="https://github.com/Gipetto/site">Gippy Pages</a></h3>
        <p>This site’s source. A hodge podge of <del>Ruby</del>, SASS, Markdown, Javascript, Python, PHP, Bash,
          <del>Docker</del>, SVG, HTML & JSON. All pain-stakingly mashed together using the <del>Jekyll</del> Eleventy
          static site framework.
        </p>
        <p><a class="chevron hellip" href="https://github.com/Gipetto/site">View on Github</a></p>
      </div>
    </li>
  </ul>
</section>

<section>
  
  <h2>Obsolete, but not forgotten</h2>

  <p>These projects are all archived, obsoleted by time, or by the tooling no longer being relevant.</p>

  <ul class="projects-list obsolete">
    <li class="card tm">
      <div>
        <img src="/assets/projects/TextMate_256x256x32.png" role="presentation" alt="TextMate Logo">
      </div>
      <div>
        <h3>
          <a href="/projects/wordpress-textmate-bundle">WordPress TextMate Bundle</a>
        </h3>
        <p>WordPress is a large codebase. You need help getting around.</p>
        <p>This is a TextMate bundle with a lot of common actions built in with convenient
          autocomplete values so that not only does it reduce the need to look up function calls, but their
          parameters and arguments as well.</p>
        <p><a class="chevron hellip" href="/projects/wordpress-textmate-bundle">View project page</a></p>
      </div>
    </li>
    <li class="card">
      <h3>
        <a href="/projects/wordpress-nextpage-buttons-plugin">WordPress NextPage buttons plugin</a>
      </h3>
      <p>A one trick pony plugin that adds the Next Page functionality back in to the WordPress editor toolbar.</p>
      <p><a class="chevron hellip" href="/projects/wordpress-nextpage-buttons-plugin">View project page</a></p>
    </li>
    <li class="card">
      <h3>
        <a href="/projects/jquery-togglr-plugin">jQuery Togglr Plugin</a>
      </h3>
      <p>The jQuery Togglr Plugin is designed to eliminate some of the redundant code that we end up using a lot
        at work. A lot of admin areas in WordPress benefit from the ability to show and hide content. With the
        Togglr Plugin this can be achieved quickly and consistently and it degrades nicely if some other plugin
        kills your javascript.</p>
      <p><a class="chevron hellip" href="/projects/jquery-togglr-plugin">View project page</a></p>
    </li>
  </ul>
</section>

<section>

  <h2>The Trash Pile</h2>

  <p>These preojects are abandoned, and I should probably delete them to protect my reputation, but I’m leaving them
    here for posterity.</p>
  
  <p>Browse, but don’t use these for anything but an example of what not to do in a modern world.</p>

  <ul class="projects-list trash-pile">
    <li class="card">
      <h3>
        <a href="/projects/wp-interactive-wordpress-development-plugin">WP Interactive WordPress Development Plugin</a>
      </h3>
      <p>WP Interactive allows admin users to run PHP code directly via the WordPress Admin to assist with
        development of plugins and themes.</p>
      <p><a class="chevron hellip" href="/projects/wp-interactive-wordpress-development-plugin">View project page</a>
      </p>
    </li>
    <li class="card">
      <h3>
        <a href="/projects/wordpress-clippings-for-bbedit">WordPress Clippings for BBEdit</a>
      </h3>
      <p>This is a Clipping bundle for BBEdit 9+ to help make working with WordPress (hopefully) a lot easier. It
        includes function completion for WordPress functions, actions and filters as well as Carrington Theme
        Framework functions.</p>
      <p><a class="chevron hellip" href="/projects/wordpress-clippings-for-bbedit">View project page</a></p>
    </li>
    <li class="card">
      <h3>
        <a href="/projects/sp-highlight-source">SP Source Code Highlighter WordPress Plugin</a>
      </h3>
      <p>The SP Source Code Highlighter plugin for WordPress is a free plugin that taps the power of the Pear
        Text_Highlighter class to provide attractive and layout flexible code blocks for your blog. It requires
        the ability to install Pear packages on the server, so the plugin is not for everyone.</p>
      <p><a class="chevron hellip" href="/projects/sp-highlight-source">View project page</a></p>
    </li>
  </ul>
</section>
